<section class="widget">
  <h3 class="widget-title">Размеры</h3>
  <label class="custom-control custom-checkbox d-block">
    <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span
      class="custom-control-description">XL&nbsp;<span class="text-muted">(208)</span></span>
  </label>
  <label class="custom-control custom-checkbox d-block">
    <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span
      class="custom-control-description">L&nbsp;<span class="text-muted">(311)</span></span>
  </label>
  <label class="custom-control custom-checkbox d-block">
    <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span
      class="custom-control-description">M&nbsp;<span class="text-muted">(485)</span></span>
  </label>
  <label class="custom-control custom-checkbox d-block">
    <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span
      class="custom-control-description">S&nbsp;<span class="text-muted">(213)</span></span>
  </label>
</section>
