{% extends "partials/layout.twig" %}
{% block content %}

  <!-- Этот код вставляется в шаблоне соответствующей контентной страницы -->
  <script type="text/javascript">
    openDataLayer.push({
      page: {
        type: 'content',
        name: 'Условия возврата'
      }
    });
  </script>

  <div class="page-title">
    <div class="container">
      <div class="column">
        <h1>Условия возврата</h1>
      </div>
    </div>
  </div>
  <!-- Page Content-->
  <div class="container padding-bottom-2x mb-2">
    <div class="row align-items-center padding-top-2x padding-bottom-2x">
      <div class="col-md-5 order-md-2"><img class="d-block w-270 m-auto" src="/img/features/04.jpg" alt="Delivery"></div>
      <div class="col-md-7 order-md-1 text-md-left text-center">
        <div class="mt-30 hidden-md-up"></div>
        <h2>Условия так условия.</h2>
        <p>Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет оценить значение направлений прогрессивного развития. Идейные соображения высшего порядка, а также новая модель организационной деятельности способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации направлений прогрессивного развития. Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет оценить значение модели развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Равным образом сложившаяся структура организации позволяет оценить значение систем массового участия.</p>
      </div>
    </div>
  </div>

{% endblock %}
